<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('portada') }}">Savings Box</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Productos</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestros Productos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Catálogo Productos</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
            <form action="#" method="post" accept-charset="UTF-8" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" name="buscar" class="form-control" placeholder="Buscar...">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
          <ul class="nav navbar-nav navbar-right">
            {# el usuario está logueado #}
            {% if is_granted('ROLE_USER') %}
                <li class="divider-vertical"></li>
                <li><a href="#">{{ app.user }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Salir</a></li>
            {# el usuario todavía no ha hecho login #}
            {% else %}
                <li class="active"><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>